body {
  font-size: medium;
}

input {
  font-size: medium;
}

.container {
  margin: 5px;
}

.row {
  padding: 10px;
}

hr {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47a5df;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 5px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#probeTable td {
  padding: 0 15px 0 15px;
}

#protoTable td {
  padding: 0 15px 0 15px;
}

#modelTable td {
  padding: 0 15px 0 15px;
}

tr.bordered td {
  border-bottom: 1px solid black;
}
